@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


.swal2-popup {
  font-family: 'Poppins', apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.swal2-title {
    font-weight: 600 !important;
    font-size: 18px !important;
}

.swal2-html-container {
    font-weight: 300 !important;
    font-size: 11px !important;
}

.swal2-actions button {
    font-size: 12px !important;
    background-color: #FFDA44 !important;
}