@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, p, label {
  color: #1F1F1F;
}

h1 {
  font-weight: 600;
  font-size: 18px;
}

h2 {
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-weight: 600;
  font-size: 11px;
}

h4 {
  font-weight: 600;
  font-size: 9px;
}

p {
  font-weight: 300;
  font-size: 11px;
}

option {
  padding-left: -2px;
}

button {
  font-weight: 600;
  font-size: 11px;
}

label {
  font-weight: 600;
  font-size: 9px;
}

.subparagraph {
  font-size: 9px;
}

.mt-1px {
  margin-top: 1px;
}

.text-8px {
  font-size: 8px;
}

.horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bg-img-main {
  background-image: url("../public/bg-main.png");
  background-size: cover;
  width: 100%;
  height: 190px;
}